  .recipes{
    margin: auto;
  }
  .navbar{
    background-color: #44cc00 !important;
    font-weight: bold;
    color: white;
  }

  .jumbotron {
    background-color: rgba(85, 255, 0, 0.5) !important; 
}