.title{
    margin: auto;
    width: 80%;
    border: 3px solid green;
    text-align: center;
    line-height: 10px;
  }
  .recipes{
  }
  .container-fluid{
  }
    img {
    /* border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 300px; */
}